<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/questionSpecialty.css" %}">
    <link rel="stylesheet" href="{% static "css/register.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/lawyerInfo.css" %}">
    <link rel="stylesheet" href="{% static "css/lawyerAvailableHours.css" %}">
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <link rel="stylesheet" href="{% static "css/appointments.css" %}">
    <link rel="stylesheet" href="{% static "css/messages.css" %}">
    <link rel="stylesheet" href="{% static "css/rateLawyer.css" %}">
    <link rel="stylesheet" href="{% static "css/deleteAccount.css" %}">
    <link rel="stylesheet" href="{% static "css/searchLawyers.css" %}">
    <link rel="stylesheet" href="{% static "css/searchLawyers.css" %}">
    <link rel="stylesheet" href="{% static "css/passwordReset.css" %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>Lawyer Appointment App</title>
</head>
<body>
    <a href="{% url 'home' %}"><img  id="logo" alt="Logo" src="{% static "img/logo.webp" %}" ></a>
    
    {% block content %}

    {% endblock %}

    <script type="module" src="{% static 'js/generalHelpers.js' %}"></script>
    <script type="module" src="{% static 'js/csrf.js' %}"></script>
    <script type="module" src="{% static 'js/appointmentHelpers.js' %}"></script>
    <script type="module" src="{% static 'js/privateMessagingHelpers.js' %}"></script>
</body>
</html>