{% extends 'main.html' %}
{% load static %}

{% block content %}
    {% include 'components/reusable/navbar.html' %}

    <div id="homePageWrapper">
        <h1 id="homePageHeading">Find your Lawyer!</h1>
        <form id="searchLawyerWrapper" action="{% url 'search_lawyers' %}" method="get">
                <div id="filterAreaOfExpertiseWrapper" class="areasOfExpertiseSearchWrapper">
                    <input type="text" id="areasOfExpertiseSearchInput" 
                     class="homePageSearchInput" placeholder="Areas of expertise"
                     name="expertise" autocomplete="off">
                    <button type="button" id="showAreasOfExpertiseButton" class="showAreasOfExpertiseButton">
                        <i class="fas fa-arrow-down" id="searchAreasOfExpertiseArrow"></i>
                        <div id="areasOfExpertiseloader"></div>
                    </button>
                    <div id="areasOfExpertiseDropdownList">
                    </div>
                </div>
                <div id="lawyerNameAndSearchButtonWrapper">
                    <input type="text" id="searchLawyer" placeholder="Name" name="name"
                    class="homePageSearchInput"  autocomplete="off">
                    <button type="submit" id="searchLawyerButton" class="homePageSearchLawyerButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
        </form>
    </div>
    
    <script type="module" src="{% static 'js/areasOfExpertise.js' %}"></script>
{% endblock content %}