{% extends 'main.html' %}

{% block content %}
    <div class="centerPageContent">
        <form action="" method="POST" id="lawyerInfoForm">
            {% csrf_token %}
            <div >
                <button id="areasOfExpertiseButton">Areas of expertise</button>
                <div id="areasOfExpertiseList">
                    {% for area_of_expertise in areas_of_expertise %}
                    <span>
                        <input type="checkbox" value="{{area_of_expertise}}" name="areas_of_expertise">
                        <label>{{area_of_expertise}}</label>
                    </span>
                    {% endfor %}
                </div>
            </div>
            {% for field in form %}
                <div class="lawyerInfoFormFieldandLabel">
                    {{ field.label}}
                    {{ field }}
                </div>
            {% endfor %}
            <div id="submitLawyerInfoWrapper">
                <a href="{% url 'home' %}"> Skip </a>
                <input type="submit" value="Proceed" id="submitLawyerInfo">
            </div>
        </form>
    </div>
{% endblock content %}