{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="lawyerInfoPage">
        <form action="" method="POST" id="lawyerInfoForm">
            {% csrf_token %}
            <div >
                <button id="areasOfExpertiseButton">
                    Areas of expertise 
                    <i class="fas fa-chevron-down"></i>                    
                    <div id="areasOfExpertiseList">
                        {% for area_of_expertise in areas_of_expertise %}
                        <span class="areaOfExpertiseChoise">
                            <input type="checkbox" value="{{area_of_expertise}}" name="areas_of_expertise">
                            <label>{{area_of_expertise}}</label>
                        </span>
                        {% endfor %}
                    </div>
                </button>
            </div>
            {% for field in form %}
                <div class="lawyerInfoFormFieldandLabel">
                    <label>{{ field.label}}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div id="submitLawyerInfoWrapper">
                <a href="{% url 'home' %}"> Skip </a>
                <input type="submit" value="Proceed" id="submitLawyerInfo">
            </div>
        </form>
    </div>
    <script src="{% static 'js/lawyerInfo.js' %}"></script>
{% endblock content %}