{% extends 'main.html' %}

{% block content %}

    <form action="" method="POST" id="lawyerInfoForm">
    {% csrf_token %}
    <button id="areasOfExpertiseButton">Areas of expertise</button>
    <div id="areasOfExpertiseList">
        {% for area_of_expertise in areas_of_expertise %}
        <span>
            <input type="checkbox" value="{{area_of_expertise}}">
            <label>{{area_of_expertise}}</label>
        </span>
        {% endfor %}
    </div>
    {{ form }}
    </form>
    
{% endblock content %}