{% extends 'main.html' %}
{% load static %}
{% block content %}   

    <div class="centerPageContent" id="availableHoursPage">
        <div id="availableHoursWrapper">
            <h1 id="availableHoursTitle">Choose Your Available Hours</h1>
            {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div>{{ message }}</div>
                    {% endif %} 
            {% endfor %}
            <form action="" method="post" id="availableHoursForm">
            {% csrf_token %}
            {% for day_name, date in days_of_available_hours.items %}
            <div class="hoursScheduleWrapper">
                <p class="dateTitle">{{day_name|slice:"2:"}} - <span class="scheduleDate">{{date}}</span></p> 
                <div id="hoursScheduleWrapperOfDay{{forloop.counter}}">
                    <div class="intervalInputsWrapper intervalOfDay{{forloop.counter}}">
                        <p>From</p>                 
                        <input type="time" value = "00:00" class="timeInput startOfInterval{{forloop.counter}}" name="{{date}}">
                        <p>To</p> 
                        <input class="timeInput endOfInterval{{forloop.counter}}" type="time" value="23:59" name="{{date}}">
                        <div class="appointmentsDurationWrapper">
                            <label>Appointments Duration</label>
                            <div class="selectAppointmentsDurationWrapper">
                                <select name="{{date}}" class="minutesSelector">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    <option value="60">60</option>
                                </select>
                                <p>minutes</p>
                            </div>
                        </div>
                        <div class="breaksWrapper">
                            <label>Breaks Between Appointments</label>
                            <div class="selectBreaksWrapper">
                                <select name="{{date}}" class="minutesSelector">
                                    <option value="0">0</option> 
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    <option value="60">60</option>
                                </select>
                                <p>minutes</p>
                            </div>
                        </div>
                        <button data-counter="{{ forloop.counter }}" onclick="removeParentElement(this)" class="removeIntervalButton">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                    <hr class="intervalHorizontalLine">
                </div>
                <button class="addIntervalButton{{forloop.counter}} addIntervalButton" disabled>+</button>
            </div>
            {% endfor %}  
            <input type="submit" value="Generate Appointments" class="generateAppointmentsButton">     
            </form>
        </div>
    </div>    
    <script src="{% static 'js/lawyerAvailableHours.js' %}"></script>
{% endblock content %}