{% extends 'main.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}   
    <div class="centerPageContent">
        <div id="loginFormWrapper">
            <h1 id="loginTitle">Login</h1>
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="loginErrorMessage">{{ message }}</div>
                {% endif %} 
            {% endfor %}
            <form action="" method="POST" id="loginForm">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" autocomplete="off" id="loginInputs" required>
                <input type="password" name="password" placeholder="Password" id="loginInputs" required>
                <a href="{% url 'password_reset' %}" id="forgotPasswordLink">Forgot Password?</a>
                <input type="submit" value="Login" id="loginButton"/>
            </form>
            <span id="signupPrompt">Don't have an account? <a href="{% url 'question-specialty' %}" id="signupLink">Sign up</a></span>
            <p id="localOrOauth2">or</p>
            <a href="{% provider_login_url 'google' %}" id="googleLoginLink">
                <img src="{% static 'img/google_logo.webp' %}" id="googleLoginLogo">
                <span id="loginWithGooglePhrase">Login with Google</span>
            </a> 
        </div>
    </div>
{% endblock content %}