{% extends 'main.html' %}

{% block content %}
    {% include 'components/reusable/navbar.html' %}
    <div id="messagesPage">
        <div id="conversationWrapper">
            <div id="conversationScreen">
                {% for message in messages %}
                <div class="privateMessage">
                    <p>{{message.sender_username}}</p>
                    <img src='{{message.sender_avatar}}'>
                    <p>{{message.message}}</p>
                    <p>{{message.time_sent}}</p>
                 </div>`
                {% endfor %}
            </div>
            <input type="hidden" id="user-info" value="{{ user.username }}">
            <div id="messageInputFieldWrapper">
                <input type="text" id="messageInputField">
                <button id="sendMessageButton">Send</button>
            </div>
        </div>
    </div>
{% endblock content %}