{% extends 'main.html' %}
{% load static %}

{% block content %}
    {% include 'components/reusable/navbar.html' %}
    {% include 'components/reusable/search-lawyer-bar.html' %}

    <div id="messagesPage">
        <div id="conversationsListWrapper">   
            <div id="loadingSideConversations"></div>         
        </div>
        <div id="conversationWrapper" class="messagesPageConversationWrapper">
            <div id="conversationScreen">
                <div id="outerPrivateMessageWrapper">
                    {% for message in messages %}
                    <div class="privateMessageWrapper">
                        <div class="privateMessageAvatarAndUsernameWrapper">
                            <img class="privateMessageAvatar" src='{{message.sender_avatar}}'>
                            <a class="privateMessageUsername" href="{% url  'profile' username=message.sender_username%}"
                                target="_blank">
                                {{message.sender_username}}
                            </a>
                        </div>
                        <p class="privateMessage">{{message.message}}</p>
                        <p class="privateMessageTimeSent">{{message.time_sent}}</p>
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" id="user-info" value="{{ user.username }}">
                <div id="messageInputFieldWrapper">
                    <input type="text" id="messageInputField">
                    <button id="sendMessageButton">Send</button>
                </div>
            </div>            
        </div>
    </div>

    <script type="module" src="{% static 'js/messagesPageDOM.js' %}"></script>
{% endblock content %}