{% extends 'main.html' %}
{% load static %}
{% block content %}   
    <div class="centerPageContent" id="passwordResetPage">
        <div id="passwordResetFormWrapper">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div>{{ message }}</div>
                {% endif %}
            {% endfor %}
            <p id="promptEmailForPasswordReset">Please enter your email to reset your password.</p>
            <form method="post" action="" id="passwordResetForm">
                {% csrf_token %}
                {% for field in form %}
                    {{field}}
                {% endfor %}
                <div id="proceedOrCancelWrapper">
                    <a href="{% url 'login' %}" id="cancelButton">Cancel</a>
                    <input type="submit" value="Proceed" id="proceedButton">    
                </div>
            </form>
            <hr class="horizontalLine">
        </div>
    </div>
    <script src="{% static 'js/passwordReset.js' %}"></script>
{% endblock content %}