{% extends 'main.html' %}
{% load static %}
{% block content %}
   
    <div class="AuthenticationFormPage">
        {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div>{{ message }}</div>
                {% endif %}
            {% endfor %}
        <form method="post" action="" id="password-reset-form" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">    
        </form>
    </div>
    <script src="{% static 'js/passwordReset.js' %}"></script>
{% endblock content %}