{% extends 'main.html' %}
{% load static %}
{% block content %}
   
    <div class="centerPageContent setNewPasswordPage">
        <div id="setNewPasswordFormWrapper">            
            <h1>Password Reset</h1>
            {% if form.errors %}
                {% for field in form %}
                <p id="setNewPasswordFormError">{{ field.errors.0 }}</p>
                {% endfor %}
            {% endif %} 
            <form method="post" action="" id="setNewPasswordForm" >
                {% csrf_token %}               
                {% for field in form %}
                    <p class="setNewPasswordFieldLabel">{{field.label}}</p>
                    {{field}}
                {% endfor %}
                <input type="submit" id="setNewPasswordSubmitButton" value="Set New Password">    
            </form>
        </div>
    </div>
    <script src="{% static 'js/passwordReset.js' %}"></script>
{% endblock content %}