{% extends 'main.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
    <div class="registerFormPage">
        <div class="registerFormWrapper">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div>{{ message }}</div>
                {% endif %}
            {% endfor %}
            <a href="{% provider_login_url 'google' %}" id="googleRegisterLink">
                <img src="{% static 'img/google_logo.webp' %}" id="googleRegisterLogo">
                <span id="registerWithGooglePhrase">Register with Google</span>
            </a> 
            <form method="post" action="" class="registerForm">
                {% csrf_token %}
                {% for field in form %}
                    <div class="registerFieldWrapper">
                        {{ field.label_tag }}
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" value="Register" class="registerButton">
            </form>
            <span class="alreadyUser">Already a user? <a href="{% url 'login' %}">Login</a></span>
        </div>
    </div> 
{% endblock content %}