{% extends 'main.html' %}

{% block content %}
    <div id="specialtyQuestioningPage">
        <h1>Are you a client or a lawyer?</h1>
        <div>
            <button id="clientRegisterButton">
                Client
            </button>
            <button id="lawyerRegisterButton">
                Lawyer
            </button>
        </div>
    </div>

    <div id="clientRegisterPage">
        <form method="post" action="/register/">
            {% csrf_token %}
            <input type="hidden" name="lawyerOrClient" value="client">
            {% for field in form %}
                <label>{{field.label}}</label>
                {{field}}
            {% endfor %}
        <input type="submit" value="Submit">
        </form>
    </div>

    <div id="lawyerRegisterPage">
        <form method="post" action="/register/">
            {% csrf_token %}
            <input type="hidden" name="lawyerOrClient" value="lawyer">
            {% for field in form %}
                <label>{{field.label}}</label>
                {{field}}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>

    <a href="{% url 'login' %}">Login</a>
{% endblock content %}