{% extends 'main.html' %}

{% block content %}
    <div id="specialtyQuestioningPage">
        <h1>Are you a client or a lawyer?</h1>
        <div>
            <button id="clientRegisterButton">
                Client
            </button>
            <button id="lawyerRegisterButton">
                Lawyer
            </button>
        </div>
    </div>

    <div id="clientRegisterPage">
        Client Register
    </div>

    <div id="lawyerRegisterPage">
        Lawyer Register
    </div>
{% endblock content %}