{% extends 'main.html' %}
{% load socialaccount %}
{% block content %}

    <div class="registerFormPage">
        <div class="registerFormWrapper">
            <a href="{% provider_login_url 'google'%}">Register with Google</a> 
            <form method="post" action="" class="registerForm">
                {% csrf_token %}
                {% for field in form %}
                    <div class="registerFieldWrapper">
                        {{ field.label_tag }}
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" value="Register" class="registerButton">
            </form>
            <span class="alreadyUser">Already a user? <a href="{% url 'login' %}">Login</a></span>
        </div>
    </div>
    
{% endblock content %}