{% extends 'main.html' %}
{% load socialaccount %}
{% block content %}

    <a href="{% provider_login_url 'google'%}?next=/">Register with Google</a>
    
    <div>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <label>{{field.label}}</label>
                {{field}}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
    {{url}}

    <a href="{% url 'login' %}">Login</a>
{% endblock content %}