.bookAppointmentButton {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #9370DB;
    color: white;
    font-size: 0.9rem;
    font-size: Tahoma, sans-serif; 
    padding: 0.2rem 0.5rem;
}

#availableAppointmentsDays {
    display: flex;
}

#appointmentsModalWrapper {
    display: none;
}

#appointmentsModal {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: whitesmoke;
    width: 300px;
    max-width: 100%;
    top: 85px;
    overflow-y: scroll;
    height: 300px;
    z-index: 2;
}

#appointmentsModalTitle {
    text-align: center;
    font-size: 1.1rem;
    color: #69359C;
    font-family: Tahoma, sans-serif; 
    margin-bottom: 1rem;
}

#loadingAppointments {
    margin: 1rem auto;
    border: 6px solid #70b1c7;
    border-radius: 50%;
    border-top: 6px solid #4286A8;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#noAppointmentsMessage {
    color: #9370DB;
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.checkedAppointmentWrapper {
    background-color: whitesmoke;
    padding: 1rem;
    text-decoration: none;
}

.checkedAppointmentWrapper:hover {
    background-color: #DFEDF7;
}

.uncheckedAppointmentWrapper {
    background-color: #DFEDF7;
    padding: 1rem;
    text-decoration: none;
} 

.bookedAppointmentAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
}

.appointmentImageAndPhrase {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bookedSAppointmentPhrase {
    font-family: Tahoma, sans-serif;
    color: #69359C;
    font-size: 0.9rem;
}

.appointmentBookingTime {
    margin: 0;
    text-align: end;
    font-family: Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #69359C;
}

#bookedAppointmentsPage {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
}

#allAppointmentsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appointmentDetailsWrapper {
    display: flex;
}