.bookAppointmentButton {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: rgb(105, 53, 156, 0.9);
    color: whitesmoke;
    font-size: 0.9rem;
    font-size: Tahoma, sans-serif; 
    padding: 0.2rem 0.5rem;
}

#appointmentsModalWrapper {
    display: none;
    background-color: rgb(0, 0, 0, 0.8);
    min-height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#availableAppointmentsDays {
    display: flex;
    background-color: rgb(218, 228, 235);
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 2px;   
    overflow-y: scroll;
    overflow-x: scroll;
    height: 400px;
    width: 500px;
    max-width: 100vw;
}

#closeAppointmentsModal {
    cursor: pointer;
    align-self: flex-end;
    padding: 0;
    font-weight: 600;
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
}

#closeAppointmentsModal:focus {
    outline: none;
}
 
#appointmentsModal {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: whitesmoke;
    width: 300px;
    max-width: 100%;
    top: 75px;
    overflow-y: scroll;
    height: 300px;
    z-index: 3;
    box-shadow: 1px 1px 2px silver;
}

#appointmentsModalTitle {
    text-align: center;
    font-size: 1.1rem;
    color: #69359C;
    font-family: Tahoma, sans-serif; 
    margin-bottom: 1rem;
}

#loadingAppointments {
    margin: 1rem auto;
    border: 6px solid #70b1c7;
    border-radius: 50%;
    border-top: 6px solid #4286A8;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#noAppointmentsMessage {
    color: #9370DB;
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.clientHasNoAppointmentsTitle {
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(105, 53, 156);
}

.checkedAppointmentWrapper {
    background-color: whitesmoke;
    padding: 1rem;
    text-decoration: none;
}

.checkedAppointmentWrapper:hover {
    background-color: #DFEDF7;
}

.uncheckedAppointmentWrapper {
    background-color: #DFEDF7;
    padding: 1rem;
    text-decoration: none;
} 

.bookedAppointmentAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
}

.appointmentImageAndPhrase {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bookedSAppointmentPhrase {
    font-family: Tahoma, sans-serif;
    color: #69359C;
    font-size: 0.9rem;
}

.appointmentBookingTime {
    margin: 0;
    text-align: end;
    font-family: Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #69359C;
}

#bookedAppointmentsPage {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: whitesmoke;
    gap: 1rem;
    min-height: 100%;
}

#noAppointmentsScheduledTitle {
    font-family: Tahoma, sans-serif;
    color: #69359C;
    text-align: center;
    font-weight: 500;
}
 
#allAppointmentsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.appointmentDetailsWrapper {
    background-color: rgb(218, 228, 235);
    border-radius: 2px;
    padding: 1rem;
}

.appointmentLinkWrapper {
    display: flex;
    text-decoration: none;
    color: rgb(105, 53, 156);
    font-family: Tahoma, sans-serif;
    gap: 1rem;
}

.bookedAppointmentClientAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bookedAppointmentDateAndTime {
    text-align: end;
    color: #4286A8;
    font-family: Tahoma, sans-serif;
    font-size: 0.9rem;
}

#lawyerAppointmentsWrapper {
    min-height: 60vh;
    padding: 2rem;
}

#appointmentsLinkInProfile {
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    color: #4286A8;   
}

#lawyerAppointmentsWrapper h2 {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1.1rem;
}

#lawyerAppointmentsWrapper p {
    color: rgb(105, 53, 156);
    font-size: 0.9rem;
    font-family: Tahoma, sans-serif;
}

.appointmentAndCancelButton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.arrangedAppointmentDetails {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.arrangedAppointmentLawyer {
    color: rgb(105, 53, 156);
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
}

.arrangedAppointmentTime {
    color: rgb(105, 53, 156);
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
}

.cancelAppointmentButton {
    background-color: #D2122E;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: whitesmoke;
    padding: 0.5rem 0.6rem;
    border-radius: 2px;
    justify-self: flex-end;
}

.cancelAppointmentButton:focus {
    outline: none;
}

#appointmentsDaysSeparatorWrapper {
    display: flex;
    gap: 1rem;
}

.appointmentsInADayWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.availableAppointmentDayName {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1rem;
    margin: 0;
}

.availableAppointmentDate {
    font-family: Tahoma, sans-serif;
    color: #4286A8;
    font-size: 0.9rem;
}

.durationAndBookButtonWrapper {
    display: flex;
    min-width: 180px;
    gap: 1rem;
}

.appointmentDuration {
    font-family: Tahoma, sans-serif;
    color: #4286A8;
    font-size: 0.9rem;
    max-width: 100%;
}

.noAvailableAppointmentsTitle {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1.5rem;
    align-self: center;
}