#deleteAccountPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#deleteAccountWrapper {
    display: flex;
    flex-direction: column;
}

#deleteAccountButton {
    background-color: red;
    color: aliceblue;
    align-self: center;
    cursor: pointer;
}