body {
    margin: 0;
    padding: 0;
}

#logo {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 1% 2%;
    width: 5rem;
    height: 5rem;
}

#homeNavbar {
    background-color: red;
}