#lawyerInfoForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20vh;
}

.lawyerInfoFormFieldandLabel {
    display: flex;
    flex-direction: column;
}

.lawyerInfoFormFieldandLabel:nth-child(8) {
    grid-column: span 2;
}

#areasOfExpertiseList {
    display: none;
    flex-direction: column;
    border: 1px solid black;
    position: absolute;
    height: 50px;
    overflow-y: scroll;
    background-color: white;
}

#areasOfExpertiseButton {
    position: relative;
    cursor: pointer;
}