#navbar {
    position: absolute;
    top: 0;
    display: flex;
    padding: 2.5%;
    gap: 0.5%;
    justify-content: flex-end;
    right: 0;
    left: 0;
}
 
.navbarLink {
    margin: 2%;
    text-decoration: none;
    color: #69359C;
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
}

#loginLink {
    padding-top: 0.5rem;
}

#loginLink:hover {
    color: #4286A8;
}

#joinLink {
    border: 2px solid #69359C;
    padding: 0.5rem 0.8rem;
    border-radius: 1px;
    margin-right: 5%;
}

#joinLink:hover {
    border: 2px solid #4286A8;
    color: #4286A8;
}

#appointmentsNotificationBellButton {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 1.3rem;
    background-color: rgb(105, 53, 156, 0.9);
    color: whitesmoke;
}

#uncheckedAppointmentsWrapper {
    display: none;
    position: absolute;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: aqua;
    bottom: 10px;
    left: 10px;
}

#uncheckedAppointments {
    margin: 0;
}

#messagesNotificationButton {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(105, 53, 156, 0.9);
    color: whitesmoke;
}

#uncheckedMessagesWrapper {
    display: none;
    position: absolute;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    background-color: greenyellow;
    bottom: 10px;
    left: 10px;
}

#uncheckedMessages {
    margin: 0;
}

#messagesPreviewModal {
    display: none;
    position: absolute;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    top: 40px;
    height: 400px;
    overflow-y: scroll;
}

.conversationWrapper {
    display: flex;
    border: 1px solid black;
}

.messageRead {
    background-color: white;
}

.messageUnread {
    background-color: aquamarine;
}

#navbarAvatar {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;    
}

#navbarAccountMenu {
    display: none;
    flex-direction: column;
    border: 1px solid black;   
    position: absolute;
    padding: 1rem;
    gap: 1rem;
    background-color: aliceblue;
    top: 55px;
}