#navbar {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navbarLink {
    margin: 2%;
    text-decoration: none;
    color: aliceblue;
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
}

#loginLink {
    padding-top: 0.5rem;
}

#joinLink {
    border: 2px solid aliceblue;
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
    margin-right: 5%;
}