#clientProfileWrapper {
    height: 100%;
    padding-top: 10%;
}

#lawyerProfileWrapper {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

#clientInfoWrapper {
    background-color: #FFF5EE;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3.5rem;
    border-radius: 3px;
}

#lawyerInfoWrapper {
    background-color: #FFF5EE;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3.5rem;
    border-radius: 3px;
}

#profilePic {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

#fullname {
    margin: 1rem 0 0 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    color: #151515;
    font-size: 1.1rem;
}

#username {
    margin: 0.3rem 0 0 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    color: #202020;
    font-size: 0.9rem;
}

#lawyerAddress {
    margin: 0.8rem 0;
    font-family: Tahoma, sans-serif;
    color: #151515;
    font-size: 0.9rem;
}

#memberSinceWrapper {
    margin: 1rem 0;
}

#memberSince {
    margin-right: 3.5rem;
    font-family: Tahoma, sans-serif;
    color: #151515;
}

#memberSinceDate {
    font-family: Tahoma, sans-serif;
    color: #151515;
}

#sendMessageToProfile {
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 0;
    font-family: Tahoma, sans-serif;
    color: #151515;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    border: none;
    border-radius: 3px;
    background-color: blueviolet;
}

#sendMessageToProfile:focus {
    outline: none;
}

#lawyerDetailsWrapper {
    background-color: #FFF5EE;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

#noRatingsYet {
    align-self: flex-start;
    font-family: Tahoma, sans-serif;
    color: #151515;
}

#appointmentButtonAndPriceWrapper {
    display: flex;
    gap: 30%;
}

#bookAppointment {
    cursor: pointer;
    padding: 0.5rem 0;
    font-family: Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
    border: none;
    border-radius: 3px;
    background-color: #F40009;
    align-self: flex-start;
    padding: 0.6rem 1rem;
}

#pricePerHour {
    font-family: Tahoma, sans-serif;
    font-size: 0.9rem;
}

#lawyerDescriptionTitle {
    font-family: Tahoma, sans-serif;
    color: #151515;
    margin: 2rem 0 0.5rem 0;
    font-size: 0.9rem;
}

#lawyerDescription {
    font-family: Tahoma, sans-serif;
    color: #252525;
    margin: 0.5rem 0 0 0;
}

#yearsOfExperienceWrapper {
    margin-top: 2rem;
    background-color: #D3D3D3;
    align-self: flex-start;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

#yearsOfExperience {
    font-family: Tahoma, sans-serif;
    color: #151515;
    margin: 0;
    font-size: 0.9rem;
}

#areasOfExpertiseTitle {
    font-family: Tahoma, sans-serif;
    color: #151515;
    font-size: 0.9rem;
    margin: 2rem 0 0 0;
}

#areasOfExpertiseWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.areaOfExpertiseBox {
    background-color: violet;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    display: flex;   
}

.areaOfExpertiseBox p {
    font-family: Tahoma, sans-serif;
    color: #151515;
    font-size: 0.9rem;
    margin: 0;
}

.editButton {
    cursor: pointer;
    border: none;
    background-color: silver;
    color: #252525;
    border-radius: 2px;
    padding: 0.4rem 0.5rem;
}

#editClientProfileModal {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgb(37,37,37, 0.7); 
    display: none;
    justify-content: center;
    align-items: center;   
}

.editProfileFormWrapper {
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.3rem;
}

.closeModalButton {
    cursor: pointer;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: #202020;
}

#editLawyerInfoButton {
    align-self: flex-start;
    cursor: pointer;
    border: none;
    background-color: silver;
    color: #252525;
    border-radius: 2px;
    padding: 0.4rem 0.5rem;
}

#editLawyerInfoForm {
    display: none;
}

#editableLawyerAvailableHoursWrapper {
    display: none;
}

#lawyerAppointmentsWrapper {
    display: none;
}