#questionSpecialtyPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
 
#questionSpecialtyWrapper {
    display: flex;
    flex-direction: column; 
    background-color: rgb(218, 228, 235);
    align-items: center;
    margin: auto;
    border: none;
    padding: 2%;
    gap: 10px;
    border-radius: 2px;
}

#lawyerOrClientQuestion {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1.6rem;
}

.clientLawyerLogo {
    width: 3.7rem;
    height: 3.7rem;
}

#clientLawyerQuestionWrapper {
    display: flex;
    gap: 2%;
}

.lookingForWrapper {
    cursor: pointer;
    padding: 2%;  
    background-color: whitesmoke;
    border-radius: 2px;
}

.lookingForText {
    font-family: Tahoma, sans-serif;
    color: #151515;
}

#joinButton {
    background-color: rgb(105, 53, 156);
    border: none;
    color: whitesmoke;
    cursor: not-allowed;
    opacity: 0.8;
    font-size: 1rem;
    border-radius: 2px;
    padding: 0.3rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

#alreadyUserQuestioning {
    font-family: Tahoma, sans-serif;
    color: #151515;
}

#alreadyUserQuestioning a {
    text-decoration: none;
    color: rgb(105, 53, 156);
}