#searchLawyersPage {
    margin-top: 20vh;
}

#searchLawyersWrapper {
    display: flex;
    flex-direction: column;
}

#searchLawyerDataWrapper {
    display: flex;
    border: 1px solid black;
}

.searchLawyerBar {
    background-color: aqua;
    margin-top: 100px;
}