{% extends 'main.html' %}
{% load static %}
{% block content %}

    {% include 'components/reusable/navbar.html' %}
    <div id="clientProfileWrapper">
        {% if my_own_profile %}
            {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div id="editProfileError">{{ message }}</div>
                    {% endif %} 
            {% endfor %}
        {% endif %}
        <div id="clientInfoWrapper">
            {% if is_static %}
            <img src= "{% static avatar_url %}" id="profilePic" /> 
            {% else %}
            <img src="{{avatar_url}}" id="profilePic" />
            {% endif %} 
            {% if my_own_profile %}
                <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile_pic' %}">
                    {% csrf_token %}
                    <input type="file" name="profile_pic" accept="image/*" onchange="this.form.submit()">
                </form>
            {% endif %}
            <p id="clientFullname">
                {{first_name}} {{last_name}}
                {% if my_own_profile %}
                <form action="{% url 'update_client_info' %}" method="POST" id="editClientFullNameForm">
                    {% csrf_token %}
                    <input type="text" placeholder="First Name" value="{{first_name}}" name="clientFirstName">
                    <input type="text" placeholder="Last Name" value="{{last_name}}" name="clientLastName">
                    <button id="cancelUpdateClientFullname">Cancel</button>
                    <input type="submit" value="Save">
                </form>
                <button class="editButton" id="editClientFullName">
                    <i class="fas fa-pencil"></i>
                </button>
                {% endif %}
            </p>
            <p id="username">@{{username}}</p>
            <p id="memberSinceWrapper">
                <span id="memberSince">Member since
                </span><span id="memberSinceDate">{{member_since}}</span>
            </p>
            {% if not my_own_profile %}
            <button id="sendMessageToProfile"> Send Message </button>
            {% endif %}
        </div>  
    </div>
    
    <script src="{% static 'js/clientProfile.js' %}"></script>
{% endblock content %}