{% extends 'main.html' %}
{% load static %}
{% block content %}

    {% include 'components/reusable/navbar.html' %}
    {% include 'components/reusable/search-lawyer-bar.html' %}

    <div id="clientProfileWrapper">
        {% if my_own_profile %}
            {% for message in messages %}
                    {% if message.tags == 'error' %} 
                    <div id="editProfileError">{{ message }}</div>
                    {% endif %} 
            {% endfor %}
        {% endif %}
        <div id="clientInfoWrapper">
            {% if is_static %}
            <img src= "{% static avatar_url %}" id="profilePic" /> 
            {% else %}
            <img src="{{avatar_url}}" id="profilePic" />
            {% endif %} 
            {% if my_own_profile %}
            <div class="avatarAndUpdateFormWrapper">       
                <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile_pic' %}"
                    class="updateAvatarForm">
                    {% csrf_token %}
                    <input type="file" name="profile_pic" accept="image/*" onchange="this.form.submit()">
                </form>
                <div class="updateClientAvatarIcon">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
            {% endif %}
            <p id="clientFullname">
                {{first_name}} {{last_name}}
                {% if my_own_profile %}
                <form action="{% url 'update_user_fullname' %}" method="POST" id="editClientFullNameForm">
                    {% csrf_token %}
                    <input type="text" placeholder="First Name" value="{{first_name}}" name="firstName">
                    <input type="text" placeholder="Last Name" value="{{last_name}}" name="lastName">
                    <button id="cancelUpdateClientFullname">Cancel</button>
                    <input type="submit" value="Save">
                </form>
                <button class="editButton" id="editClientFullName">
                    <i class="fas fa-pencil"></i>
                </button>
                {% endif %}
            </p>
            <p id="username">@{{username}}</p>
            <p id="memberSinceWrapper">
                <span id="memberSince">Member since
                </span><span id="memberSinceDate">{{member_since}}</span>
            </p>
            {% if not my_own_profile %}
            <a id="sendMessageToProfile" href="{% url 'messages' username=username %}"> Send Message </a>
            {% endif %}
        </div> 
        {% if my_own_profile %}
        <div id="clientArrangedAppointmentsWrapper">
            <h1 id="arrangedAppointmentsTitle">Arranged appointments</h1>
            {% for appointment in client_booked_appointments %}
                <p class="arrangedAppointmentDate">{{appointment.day_name}} <span class="appointmentDates">{{appointment.date}}</span></p>
                <div class="arrangedAppointmentDetails">
                   <p class="arrangedAppointmentLawyer">Lawyer: <b>{{appointment.lawyer_first_name}} {{appointment.lawyer_last_name}}</b></p>
                   <p class="arrangedAppointmentTime">Time: <b class="startingTimes">{{appointment.starting_time}}</b> - <b>{{appointment.ending_time}}</b></p>
                   <button class="cancelAppointmentButton">Cancel Appointment</button>
                </div>
            {% endfor %}
        </div>
        {% endif %} 
    </div>
    
    <script src="{% static 'js/clientProfile.js' %}"></script>
    {% if my_own_profile %}
        <script type="module" src="{% static 'js/cancelAppointment.js' %}"></script>
    {% endif %}
{% endblock content %}