{% extends 'main.html' %}
{% load static %}
{% block content %}

    {% include 'components/reusable/navbar.html' %}

    <div id="lawyerProfileWrapper">
        {% for message in messages %}
                {% if message.tags == 'error' %}
                <div id="editProfileError">{{ message }}</div>
                {% endif %} 
        {% endfor %}
        <div id="lawyerInfoWrapper">
            {% if is_locally_stored %}            
            <img src= "{{avatar_url}}" id="profilePic" /> 
            <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile_pic' %}">
                {% csrf_token %}
                <input type="file" name="profile_pic" accept="image/*" onchange="this.form.submit()">
            </form>
            {% else %}
            <img src="{{avatar_url}}" id="profilePic" />
            {% endif %} 
            <p id="fullname">
                {{first_name}} {{last_name}}
                <button class="editButton" id="editLawyerProfileInfoButton">
                    <i class="fas fa-pencil"></i>
                </button>
            </p>
            <p id="username">@{{username}}</p>
            {% if address and city is not None %}
            <p id="lawyerAddress">
                <i class="fas fa-map-marker-alt"></i> 
                {{address}}, {{city}}
            </p>
            {% else %}
            <p id="lawyerAddress">
                <i class="fas fa-map-marker-alt"></i>
                <span> No address set</span>
                <button class="editButton" >
                    <i class="fas fa-pencil"></i>
                </button>
            </p>            
            {% endif %}
            <p id="memberSinceWrapper">
                <span id="memberSince"> Member since</span>
                <span id="memberSinceDate">{{member_since}}</span>
            </p>              
        </div>  
        <div id="lawyerDetailsWrapper">
            <div>
                <button id="lawyerInfoLink">info</button>
                <button id="lawyerAvailableHoursLink">available hours</button>
                <button id="lawyerAppointmentsLink">appointments</button>
            </div> 
            {% include 'components/profile/lawyer_editable_info.html' %}
            {% include 'components/profile/lawyer_appointments.html' %}
            {% include 'components/profile/lawyer_available_hours.html' %}
        </div>
    </div>
    
    <script src="{% static 'js/editLawyerProfileInfo.js' %}"></script>   
    <script src="{% static 'js/lawyerInfo.js' %}"></script>
{% endblock content %}