{% extends 'main.html' %}
{% load static %}
{% block content %}

    {% include 'components/reusable/navbar.html' %}
    {% include 'components/profile/client_profile.html' %}
    {% if my_own_profile %}
    <div id="editClientProfileModal">
        <div class="editProfileFormWrapper">
            <button class="closeModalButton" id="closeClientEditModal">
                x
            </button>
        </div>
    </div>
    <script src="{% static 'js/clientProfile.js' %}"></script>
    {% endif %}
{% endblock content %}