<div id="ratingLawyerModalWrapper">
    <div id="ratingLawyerModal">
        <button id="closeRateLawyerModalButton">x</button>
        <div id="ratingValueWrapper">
            <p>Rating</p>
            <select id="lawyerRatingNumber" class="minutesSelector">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <p id="ratingCommentsTitle">Comments</p>
        <textarea id="lawyerRatingComments" rows="4" cols="50"></textarea>
        <button id="submitLawyerRatingButton">Submit rating</button>
    </div>
</div>