{% load static %}
<div id="navbar">
    {% if request.user.is_authenticated %}
        <button id="messagesNotificationButton">
            <i class="fas fa-message"></i>
            <div id="uncheckedMessagesWrapper">
                <p id="uncheckedMessages"></p>
            </div> 
        </button> 
        <div id="messagesPreviewModal">
            <div id="loadingMessages">Loading</div>
        </div>
        {% if request.user.profile.lawyer %}
            <button id="appointmentsNotificationBellButton">
                <i class="fas fa-bell"></i>
                <div id="uncheckedAppointmentsWrapper">
                    <p id="uncheckedAppointments"></p>
                </div> 
            </button>
            <div id="appointmentsModal">
                <p id="appointmentsModalTitle">Appointments</p>
                <div id="loadingAppointments">Loading</div>
            </div>
        {% endif %}
        {% if request.user.profile.avatar|truncatechars:5 == "http…" %}
        <img src="{{request.user.profile.avatar}}" id="navbarAvatar">
        {% else %}
        <img src="/media/{{request.user.profile.avatar}}" id="navbarAvatar">
        {% endif %}
        <div id="navbarAccountMenu">
            <a href="{% url 'profile' request.user.username %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a id="deleteAccount" href="{% url 'delete_account' %}">Delete Account</a>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="navbarLink"  id="loginLink">Login</a>
        <a href="{% url 'question-specialty' %}" class="navbarLink" id="joinLink">Join</a>
    {% endif %}
</div>
{% if request.user.is_authenticated %}
    <script type="module" src="{% static 'js/privateMessaging.js' %}"></script>
    <script type="module" src="{% static 'js/navbar.js' %}"></script>
    {% if request.user.profile.lawyer %}
        <script type="module" src="{% static 'js/appointmentNotification.js' %}"></script>
    {% endif %}
{% endif %}