html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#pageDoesNotExist {
    background-color: whitesmoke;
    margin-top: 0;
    display: flex;
    height: 100%;
    justify-content: center;
}

#pageDoesNotExistWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}

#pageDoesNotExistWrapper h1 {
    color: #252525;
    font-size: 5rem;
    font-family: Tahoma, sans-serif;
    margin: 0;
}

#pageDoesNotExistWrapper p {
    color: #202020;
    font-size: 2.5rem;
    font-family: Tahoma, sans-serif;
    margin-top: 1rem;
}