#allRatingsModalWrapper {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.8);
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#allRatingsModal {
    height: 400px;
    width: 500px;
    max-width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: 0.8rem;
    overflow-y: scroll;
}

#closeAllRatingsModal {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgb(105, 53, 156);
    font-weight: 600;
    font-size: 1.7rem;
    align-self: flex-end;
}

#closeAllRatingsModal:focus {
    outline: none;
}

#allRatingsTitle {
    align-self: center;
    color: rgb(105, 53, 156);
    font-family: Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

#averageRatingValueInModal {
    margin: 0 0 0 1rem;
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
}

#loadingAllRatings {
    align-self: center;
    margin-top: 1rem;
    border: 6px solid #70b1c7;
    border-radius: 50%;
    border-top: 6px solid #4286A8;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.allFetchedRatingsWrapper {
    display: flex;
    flex-direction: column;
}

#allFetchedRatingsWrapper {
    display: none;
    flex-direction: column;
}

.fetchedRatingInfoWrapper {
    display: flex;
    width: 95%;
    flex-direction: column;
    padding: 0.8rem;
    border-radius: 2px;
    margin-top: 1rem;
    background-color: rgb(218, 228, 235);
}

.ratingClientImageAndName {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.ratingClientAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratingClientName {
    color: rgb(105, 53, 156);
    font-family: Tahoma, sans-serif;
    font-size: 0.9rem;
}

.clientRatingValue {
    margin-left: 40px;
    color: #4286A8;
    font-family: Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.ratingClientComment {
    margin: 0;
    margin-top: 1rem;
    color: rgb(105, 53, 156);
    font-family: Tahoma, sans-serif;
    font-size: 1rem;
}