html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#logo {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 1% 2%;
    width: 6rem;
    height: 6rem;
}

#homeNavbar {
    background-color: red;
}

.centerPageContent {
    display: flex;
    justify-content: center;
    align-items: center;
}