#availableHoursPage {
    background-color: whitesmoke;
}
#availableHoursWrapper {
    background-color: rgb(218, 228, 235);
    min-width: 70%;
    max-width: 96%;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}

#availableHoursTitle {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

#availableHoursForm {
    display: flex;
    flex-direction: column;
}

.hoursScheduleWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
}

.dateTitle {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-weight: 600;
    font-size: 0.9rem;
}

.intervalInputsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.intervalInputsWrapper p {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 0.9rem;
    align-self: center;
}

.intervalInputsWrapper label {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 0.9rem;
}

.appointmentsDurationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.selectAppointmentsDurationWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.breaksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.selectBreaksWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.timeInput {
    border: none;
    align-self: center;
    padding: 0.5rem;
    border-radius: 2px;
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 0.9rem;
    cursor: pointer;
    background-color: whitesmoke;
}

.timeInput:focus {
    outline: none;
}

.minutesSelector {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 0.9rem;
    height: 2.5rem;
    width: 2.5rem;
}

.minutesSelector:focus {
    outline: none;
}

.removeIntervalButton {
    color: #D2122E;
    padding-top: 0;
    align-self: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}

.removeIntervalButton:focus {
    outline: none;
}

.intervalHorizontalLine {
    border-top: 1px solid silver;
}

.addIntervalButton {
    align-self: flex-start;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(105, 53, 156, 0.4);
    background-color: whitesmoke;
    width: 2rem;
    height: 2rem;
    box-shadow: 1px 1px 4px #d3d3d3;
}

.generateAppointmentsButton {
    align-self: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: none;
    background-color: #4286A8;
    padding: 0.7rem;
    border-radius: 2px;
    color: whitesmoke;
    font-family: Tahoma, sans-serif;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #606060;
}

.generateAppointmentsButton:focus {
    outline: none;
}

#editableLawyerAvailableHoursWrapper {
    min-height: 60vh;
    padding: 2rem;
}

#adjustAvailableHoursLinkInProfile {
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    color: #4286A8;
}

#editableLawyerAvailableHoursWrapper h2 {
    font-family: Tahoma, sans-serif;
    color: rgb(105, 53, 156);
    font-size: 1.2rem;
}

.intervalsInLawyerProfile {
    color: rgb(105, 53, 156);
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
}